<section class="about">

  <h2 class="about-header md-display-1">Why ng-devstack?</h2>
  <p>It's been a while since the first version of ng-devstack has arrived. Based on old ecosystem (including gulp, ES5, etc.) it wouldn't survive long in today's world of dynamically changing front-end technologies.<br />This is the time to introduce <strong>major upgrade</strong>, which incorporates most recent techniques and best practices.<br />Hopefully, it will make the switch to Angular 2 less painful.</p>
  <p>Anyone searching for old version of ng-devstack, it is <a href="https://github.com/mariuszm/ng-devstack/tree/0.4.0">here</a>.</p>

  <h2 class="about-header md-display-1">Features</h2>
  <ul>
      <li>new Angular 1.5 component architecture,</li>
      <li>support for ES6 with <a href="https://babeljs.io/">Babel 6</a>,</li>
      <li>integration with <a href="https://webpack.github.io/">webpack 3</a>, allowing to use its' best features:
          <ul>
            <li>local webserver with live reload,</li>
            <li>Hot Module Reloading, tries to reload just the component that's changed, instead of the entire page),</li>
            <li>Scope Hoisting, removing function wrappers around modules to improve total script evaluation time as well as to achieve smaller bundle sizes,</li>
            <li>support for styles/scripts source maps,</li>
            <li>JS/CSS/HTML minification,</li>
          </ul>
      </li>
      <li>support for SASS (processed with <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a>),</li>
      <li>support for <a href="http://eslint.org/">ESLint</a>,</li>
      <li>unit testing with <a href="https://facebook.github.io/jest/">Jest</a>,</li>
      <li>integration with <a href="https://ui-router.github.io/ng1/">UI Router 1.0</a> &amp; <a href="https://material.angularjs.org/">Angular Material</a>,</li>
      <li>debugging with Visual Code Studio's <a href="https://github.com/Microsoft/vscode-chrome-debug">Debugger for Chrome</a>.</li>
  </ul>

  <p>For more information please visit project's <a href="https://github.com/mariuszm/ng-devstack">GitHub</a>.</p>

</section>
