{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    "angularjs-annotate"
  ],
  "env": {
    "test": {
      "plugins": [
        ["import-noop", { "extensions": ["scss", "css", "html"] }],
        ["transform-es2015-modules-commonjs", { "ignore": "*.spec.js" }]
      ]
    }
  }
}
