{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    "angularjs-annotate"
  ],
  "env": {
    "test": {
      "plugins": [
        ["__coverage__", { "ignore": "*.spec.js" }]
      ]
    }
  }
}
